body {
  background: url(../img/sea.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  color:#1d3a68;
}
.wrapper {
  background-color: #fff;
}
.menu {
  list-style: none;
}

.menu_item > a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}

.logo h1 {
  font-family: 'Dorsa', sans-serif;
  background-color: #fff;
  width: 150px;
  height: 150px;
  text-align: center;
  line-height: 150px;
  border-radius: 50%;
  font-weight: 500;
  font-size: 60px;
}

.logo a {
  text-decoration: none;
  color: #091c3a;
}

ul.menu {
  position: relative;

}

div.submenu {
  background-color: #fff;
  display: none;
  position: absolute;
  top: 34px;
  left: 11px;
  border-radius: 5%;
  margin-top: 5px;
  font-family: 'Pathway Gothic one', sans-serif;
}

div.submenu ul>li {
  width: 60px;
  height: 28px;
  line-height: 1.5;
  text-align: center;
  font-weight: 100;
  list-style: none;
}
.submenu a {
  text-decoration: none;
  color: #3a537a;
}
div.submenu ul {
  padding-left: 0;
}
.submenu::after {
  content: '';
  display: block;
  position: absolute;
  font-weight: 600;
  left: 28px;
  top: -5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 2.5px 5px 2.5px;
  border-color: transparent transparent #fff transparent;
}

.menu_item:hover > .submenu {
  display: block;
}

.menu_item {
  font-weight: 100;
  font-family: 'Pathway Gothic one', sans-serif;
}

.menu_item a:hover {
  color: #234172;
}
img {
  float: left;
  margin-right: 20px;
}

.text1 {
  display: inline-block;
  width: 670px;
}

.simple-list {
  display: inline-block;
  vertical-align: top;
  width: 250px;
  padding: 0;

}
.simple-list h2 {
  padding: 0 0 0 30px;
}
.simple-list1 {
  padding: 0 0 0 40px;
}
.simple-list1 ul{
  list-style: none;
}

.simple-list1 li::before {
    font-size: 13pt;
    text-align: center;
    line-height: 1.8;
    color: #fff;
    font-weight: 200;
    background: #5cc2f2;
    float: right;
    position: relative;
    right: 180px;
    border-radius: 25px;
    display: block;
    height: 30px;
    width: 30px;
}
.simple-list1 li:first-child::before {
    content: '1';
}
.simple-list1 li:nth-child(2)::before {
    content: '2';
}
.simple-list1 li:last-child::before {
    content: '3';
}

.text2 {
  display: inline-block;
  width: 670px;
}
.text3 {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  padding: 0 0 0 40px;
}

.text3 h2 {
  margin-bottom: 20px;
}

.text3 h3 {
  margin: 20px;
  padding: 30px 0 0 20px;
  font-size: 20px;
}
.text3 p {
  padding: 0 10px;
}

.info-block {
  position: relative;
  background: #f2f4f7;
  border-radius: 2%;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: -1px;
  padding: 20px;
}

.info-block::before {
  content: '';
  display: block;
  position: absolute;
  left: 70px;
  bottom: -30px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 20px 0 20px;
  border-color: #f2f4f7 transparent transparent transparent;
  line-height: 1px black;
}

.second-list {
  list-style: none;
  padding: 0;
}
.second-list li{
  display: inline-block;
  position: relative;
  width: 250px;
  margin: 0px;
  padding: 10px 25px;
  font-weight: 500;
  font-size: 15px;
}

.second-list li::before {
  content: url("../img/arrow.png");
  position: absolute;
  left: -5px;
}

p {
  font-size: 13px;
  font-weight: 300;
  color: #000000;
  line-height: 20px;
}

.underlined {
  border-bottom: 1px solid #333;
}
h2 {
  font-family: 'Pathway Gothic one', sans-serif;
  font-weight: 500;
  font-size: 30px;
}
h4 {
  font-weight: 500;
  font-size: 15px;

  letter-spacing: -1px;
}
h3 {
  font-weight: 500;
  font-size: 15px;
  letter-spacing: -1px;
}
footer {
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}
.list {
  background-color: #263959;
  color: #fff;
  margin: 0;
  align-content: center;
  line-height: 1.5;
}

.list li {
  list-style: none;
  width: 200px;
  text-align: left;
}
.list li>a {
  text-decoration: none;
  color: #fff;
  font-size: 11px;
  font-weight: 400;
}
.info {
  font-size: 12px;
}
.sprite {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.sprite a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url('../img/sprite.png');
  background-size: 200px 40px;
  padding: 0 5px;
}

.sprite .twitter {
  background-position: -2px 0;
}

.sprite .facebook {
  background-position: -53px 0;
}

.sprite .g-plus {
  background-position: -105px 0;
}

.sprite .instagram {
  background-position: -157px 0;
}

.social-media-list .g-plus {
  background-position: -300px -50px;
}

.copy {
  font-size: 13px;
  color: #fff;
}
.to-top {
  position: fixed;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  bottom: 10px;
  right: 190px;
  background-color: #37b0e8;
}

.to-top a {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  line-height: 1.5;
}
.to-top img {
  float: none;
  margin: 0;
}
@media only screen and (min-width: 1200px) {
  .simple-list1 li::before {
      right: 220px;
  }
  .info-block::before {
    left: 105px;
  }
}

@media only screen and (max-width: 991px) {
  .simple-list1 li::before {
      right: 207px;
  }
  .info-block::before {
    left: 54px;
  }
}

@media only screen and (max-width: 767px) {
  .simple-list1 li::before {
      right: 452px;
  }
  .info-block::before {
    left: 154px;
  }
}
