body {
  background: url(../img/sea.jpg);
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Roboto', sans-serif;
  color:#1d3a68;
}

.wrapper {
  width: 950px;
  margin: 150px 150px;
  padding: 40px;
  background-color: #fff;
}

img {
  float: left;
  margin-right: 20px;
}

.text1 {
  display: inline-block;
  width: 670px;
}

.simple-list {
  display: inline-block;
  vertical-align: top;
  width: 250px;
  padding: 0;
}
.simple-list h2 {
  padding: 0 0 0 30px;
}
.simple-list1 {
  padding: 0 0 0 80px;
}
.simple-list2 {
  padding: 0 0 0 80px;
}
.simple-list3 {
  padding: 0 0 0 80px;
}
.simple-list1 h3::before,
.simple-list2 h3::before,
.simple-list3 h3::before {
    font-size: 13pt;
    text-align: center;
    color: #fff;
    font-weight: 300;
    vertical-align: middle;
    background: #5cc2f2;
    float: right;
    position: relative;
    right: 180px;
    border-radius: 25px;
    display: block;
    height: 30px;
    width: 30px;
}
.simple-list1 h3::before {
    content: '1';
}
.simple-list2 h3::before {
    content: '2';
}
.simple-list3 h3::before {
    content: '3';
}

.text2 {
  display: inline-block;
  width: 670px;
}
.text3 {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  padding: 0 0 0 40px;
}

.text3 h2 {
  margin-bottom: 20px;
}

.text3 h3 {
  margin: 20px;
  padding: 30px 0 0 20px;
  font-size: 20px;
}
.text3 p {
  padding: 0 10px;
}

.info-block {
  position: relative;
  background: #f2f4f7;
  margin: 0;
  width: 160px;
  height: 160px;
  border: 1px solid #a5b4ce;
  border-radius: 2%;
  font-weight: 500;
  letter-spacing: -1px;
  padding: 20px;
}

.info-block::before {
  content: '';
  display: block;
  position: absolute;
  left: 70px;
  bottom: -30px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 20px 0 20px;
  border-color: #f2f4f7 transparent transparent transparent;
  line-height: 1px black;
}

.second-list {
  list-style: none;
  padding: 0;
}
.second-list li{
  display: inline-block;
  position: relative;
  width: 250px;
  margin: 0px;
  padding: 10px 25px;
  font-weight: 500;
  font-size: 15px;
}

.second-list li::before {
  content: url("../img/arrow.png");
  position: absolute;
  left: -5px;
  /*top: 4px;*/

}
p {
  font-size: 13px;
  font-weight: 300;
  color: #000000;
  line-height: 20px;
}


h2 {
  margin: 20px 0 40px;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: -2px;
  line-height: 30px;
}
underlined {
  border-bottom: 1px solid #333;
}
h4 {
  font-weight: 500;
  letter-spacing: -1px;
}
h3 {
  font-weight: 500;
  font-size: 15px;
  letter-spacing: -1px;
}

/*hr {
  margin: 40px 0;
}*/
