.footer {
  width: 50%;
  min-width: 1024px;
  margin: 0 auto;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
    &__menu {
      background-color: $color3;
      color: $color1;
      height: 200px;
      margin: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-line-pack: center;
          align-content: center;
      line-height: 1.5;
    }
      &__menu-item {
        list-style: none;
        width: 200px;
        font-weight: 100;
        text-align: left;
      }
      & .info {
        font-size: 12px;
      }
      &__social-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        list-style: none;
      }
      &__social-image {
        width: 40px;
        height: 40px;
        padding-right: 10px;
        fill: $color4;
        &:hover {
          fill: $color1;
          }
      }
      &__copy {
        font-size: 13px;
        color: $color1;
      }
}
@media only screen and (max-width: 1023px) {
  .footer {
    min-width: 768px;
    &__menu {
      height: 120px;
    }
    &__menu-item {
      width: 155px;
    }
  }
}
@media only screen and (max-width: 768px) {
  .footer {
    min-width: 480px;
    &__menu-item {
      width: 100px;
      font-size: 11px;
      padding-bottom: 5px;
    }
    & .info {
      font-size: 10px;
    }
  }
}
