// palette
$color1: #fff;   //nav-menu-link, page-heading, submenu, main, menu, social-image, copy
$color2: #234172; //nav-menu-link,
$color3: #263959; //menu
$color4: #a59a1a; //social-image
$color5: #37b0e8; //to-top
$color6: #1d3a68; //body


// fonts
$standart-font: 'Roboto', sans-serif;
$menu-font: 'Pathway Gothic one', sans-serif;
$heading-font: 'Dorsa', sans-serif;
