@import 'normalize';
@import 'varibles';
@import 'header';
@import 'main-content';
@import 'footer';

body {
  background: url(../img/sea-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  font-family: $standart-font;
  color:$color6;
}
.to-top {
  position: fixed;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  bottom: 10px;
  right: 190px;
  background-color: $color5;
    &__link {
      width: 100%;
      height: 100%;
      display: block;
      text-align: center;
      line-height: 1.5;
  }
    &__image {
      float: none;
      margin: 0;
  }

}
